* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	margin: 0;
	font-family: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HGP明朝B', serif;
  	-webkit-font-feature-settings: 'pkna';
        font-feature-settings: 'pkna';
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.tatetitle {
	writing-mode: vertical-rl;
}

.clear {
  clear:left;
}

h2 {
	font-size: 25px;
}



/* ヘッダー */
header {
	width: 100%;
	height: 680px;
}

#nav-drawer {
  position: relative;
  display: none;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.container-left {
	float: left;
	width: 40%;
	margin: 0 auto;
}

.container-right{
	width: 40%;
	display: block;
	float:left;
}

.header-title {
	writing-mode: vertical-rl;
	padding: 20px 0 0 50px;
	margin: 0 auto;
}

.header-title h1{
	font-size: 40px;
}

.header-title .sub-title{
	font-size: 30px;
	
}

.header-sns {
	padding-top: 20px;
	height: 50px;
	width: 100%;
	margin: 0 auto;
}

.header-sns ul {
	padding-top: 5px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.header-sns li{
	display: inline-block;
	margin: 0 10px 0 0;
}

.header-list {
	padding-top: 10px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.header-list ul {
	padding-top: 5px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.header-list li{
	margin: 10px 10px 0 0;
}



/* 店舗について */
.contents-about {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.contents-about h2{
	float: right;
}

.about-text {
	width: 80%;
	writing-mode: vertical-rl;
	column-count: 1;
	column-gap: 100px;
	display: inline-block;
	height: 300px;
	text-align: left;
}

.about-text p{
	margin: 0 auto;
	padding-right: 40px;
	padding-left: 40px;
}



/* 商品一覧 */
.contents-itemlist {
	padding-top: 60px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.contents-itemlist h2 {
	float: right;
}

.contents-item {
	writing-mode: vertical-rl;
	position: relative;
	float: left;
	padding-bottom: 5%;
	width: 40%;
	font-size: 20px;
}


/* instagram */
.contents-instagram {
	padding-top: 60px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #f7f7f7;
	text-align: center;
}


.contents-instagram h2 {
	//width: 30%;
	//float: right;
	//padding: 10px;
}

.instaram-title {
	float: right;
	padding-left: 50px;
}

.instagram-item-list {

}

.instagram-item {
	float: left;
	width: 20%;
}

.instagram-img {
	position: relative;
}


/* 店舗情報 */
.contents-storeinfo {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	width: 100%;
	margin: 0 auto;
}

.contents-storeinfo h2{
	float: right;
}

.store-info {
	margin: 0 auto;
	width: 70%;
}

.store-text {
	float: left;
	width: 50%;
	font-size: 16px;
	padding-left: 20px;
}

.store-pic {
	float: right;
	width: 50%;
}

.map-pic {
	width: 100%;
	margin: 0 auto;
	padding-top: 15px;
}


/* お知らせ */
.contents-newslist {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
}

.contents-newslist h2{
	float: right;
}

.news-top {
	border-top: 2px solid #dee7ec;
	padding-top: 15px;
}

.news-list {
	width: 70%;
	margin: 0 auto;
	padding: 15px;
}

.contents-news {
	border-bottom: 2px solid #dee7ec;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.btn {
	background-color: gray;
	display: block;
	border: 0.5px solid #dee7ec;
	text-align: center;
	opacity: 0.8;
	width: 50%;
	margin: 15px auto;
	padding: 10px;
	font-size: 18px;
}

.btn:hover {
	opacity: 1;
}


/* 商品詳細 */
.contents-itemdetail {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.contents-itemdetail h2 {
	float: right;
}

.contents-itemtext {
	padding: 15px;
}

.page-next {
	float: right;
}

.page-next p{
	;
}

.page-prev {
	float: left;
}

/* ページャー */
.pager .pagination {
   text-align: right;
}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.pager .pagination li.pre,
.pager .pagination li.next{
  display: inline-block;
  width: 100px;
  height: 50px;
  text-align: center;
}


/* お知らせ詳細 */
.contents-newsdetaill {
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}

.contents-newstext-title {
	text-align: left;
	padding-bottom: 15px;
	width: 80%;
	margin: 0 auto;
	padding: 15px;
}

.contents-newstext {
	width: 80%;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	margin: 0 auto;
	border-top: 2px solid #dee7ec;
	border-bottom: 2px solid #dee7ec;
	margin: 0 auto;
	padding: 15px;
}

.contents-newsdetaill h2{
	float: right;
}

.contents-newsdetaill .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.page-prev-text {
	padding-left: 10px;
	padding-bottom: 10px;
}

.page-next-text {
	padding-right: 10px;
	padding-bottom: 100px;
}



/* フッター */
footer {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: gray;
	color: white;
	text-align: center;
}

.page-top-btn {
	float: right;
	margin-top: 100px;
	margin-right: 50px;
}

.page-top-btn a {
	display: block;
}

.page-top-btn p{
	margin-top: 0px;
	display: block;
	font-size: 14px;
}

.footer-title h4 {
	padding-top: 5px;
	padding-bottom: 10pxs;
	width: 70%;
	margin: 0 auto;
}

.footer-sns ul {
	padding-top: 5px;
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

.footer-sns li {
	width: 50px;
	height: 50px;
	padding: 5px;
	display: inline;
}

.footer-list ul {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

.footer-list li {
	width: 50px;
	height: 50px;
	padding: 10px;
	display: inline;
}

.copyright {
	font-size: 10px;
	width: 70%;
	margin: 0 auto;
}
.cb {
	clear: both;
}

/* タブレット向けレイアウト */
@media(max-width: 1000px){
	.instagram-item {
		width:50%;
		marin-bottom 50px;
	}
	.contents-item {
		width: 50%;
	}
	.btn {
		width: 100%;
	}
	.about-text {
		writing-mode: horizontal-tb;
		width: 100%;
		height: 500px;
	}
	.news-list {
		width: 100%;
	}
}


/* スマートフォン向けレイアウト */
@media(max-width: 670px){
  .instagram-item {
    width:100%;
  }
  .contents-item {
	width:100%;
  }
  .btn {
	width: 100%;
  }
  .about-text {
	writing-mode: horizontal-tb;
	width: 100%;
	height: 500px;
  }
  .news-list {
	width: 100%;
  }
  header {
  	height: 450px;
  }
  .header-list {
  	display: none;
  }
  .container-right{
	width: 100%;
  }
  .container-right img{
	height: auto;
  }
  .container-left {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.7);
	height: 500px;
  }
	.contents-newslist h2{
		width: 100%;
		text-align: center;
	}
  #nav-drawer {
  	display: block;
  }
  .store-info {
	width: 100%;
   }
	.store-text {
		width: 100%;
	}
	.store-pic {
		width: 100%;
	}
  .footer-list {
  	display: none;
  }
  .page-top-btn {
  	margin: 5 auto;
  	float: none;
  }
	.contents-newslist h2{
		margin: 0 auto;
		float: none;
	}
  .pager .pagination li{
    display: none;
  }

  .pager .pagination li.pre,
  .pager .pagination li.next{
    display: inline-block;
    width: 20%;
    height: 50px;
    text-align: center;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a{
    width: 100%;
    text-align: center;
  }


}

@media only screen and (max-width: 480px) {
    .container-right {
        overflow: scroll;
    }
    .container-left {
        width: 100%;
    }  
}