* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	margin: 0;
	font-family: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HGP明朝B', serif;
  	-webkit-font-feature-settings: 'pkna';
        font-feature-settings: 'pkna';
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

ul {
	list-style-type: none;
  padding-left: 0;
}

.container {
	max-width: 1170px;
	width: 100%;
  /* width: 1080px; */
	margin: 0 auto;
}

.contents {
  padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
  /* margin: 0 auto; */
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.tatetitle {
  padding-top: 25px;
	writing-mode: vertical-rl;
  background-image: url(../img/title_img.png);
  background-repeat: no-repeat;
  background-position: 13px 0px;
  line-height: 100px;
	font-size: 25px;
  float: right;
}

.sm-br {
  display: none;
}


/* ヘッダー */
header {
	width: 100%;
	height: 100%;
}
/* #nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
} */

  #wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background:#333;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
  }
  #wrapper nav ul li {
      display:block;
      padding: 20px 28px
  }
  #wrapper nav ul li a {
      text-decoration: none;
      color: #ddd
  }
  #wrapper .btn-gnavi {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 24px;
      z-index: 3;
      box-sizing: border-box;
      cursor: pointer;
      -webkit-transition: all 400ms;
      transition: all 400ms
  }
  #wrapper .btn-gnavi span {
      position: absolute;
      width: 30px;
      height: 4px;
      background: #666;
      border-radius: 10px;
      -webkit-transition: all 400ms;
      transition: all 400ms
  }
  #wrapper .btn-gnavi span:nth-child(1) {
      top: 0
  }
  #wrapper .btn-gnavi span:nth-child(2) {
      top: 10px
  }
  #wrapper .btn-gnavi span:nth-child(3) {
      top: 20px
  }
  #wrapper .btn-gnavi.open span {
      background: #fff
  }
  #wrapper .btn-gnavi.open span {
      width: 24px;
  }
  #wrapper .contents section p {
      position: absolute;
      top: 50%;
      width: 30%;
      line-height: 1.4;
      font-size: 20px;
      color: #fff;
  }
  #wrapper .contents section:nth-child(odd) p {
      left: 10%
  }
  #wrapper .contents section:nth-child(even) p {
      right: 10%
  }



.container-left {
  display: block;
  float: left;
	width: 29%;
  height: 100vh;
	margin: 0 auto;
}

.container-right {
	width: 71%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
	float: right;
}

.container-right .slides {
  position: absolute;
  width: 71%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
	float: right;
}

.container-right .slides:not(:first-child) {
  display: none;
}

.header-title {
	writing-mode: vertical-rl;
	padding-top: 44px;
  padding-left: 30px;
	margin: 0 auto;
}

.header-title h1{
	font-size: 30px;
}

.sub-title{
	font-size: 24px;
}

.main-title {
  padding-top: 33px;
}

.header-sns {
	padding-top: 20px;
	height: 50px;
	width: 100%;
	margin: 0 auto;
}

.header-sns ul {
	padding-top: 5px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.header-sns li{
	display: inline-block;
	margin: 0 10px 0 0;
}

.header-list {
	padding-top: 20px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.header-list ul {
	padding-top: 5px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.header-list li{
	margin: 10px 10px 0 0;
}



/* 店舗について */
.about-text {
  display: block;
  width: 70%;
  margin: 0 auto;
	writing-mode: vertical-rl;
	column-count: 1;
	column-gap: 100px;
	height: 300px;
  font-size: 18px;
}

.about-text p {
	padding-right: 25px;
	padding-left: 25px;
  text-align: left;
}



/* 商品一覧 */
.item-main {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contents-item p {
  margin-bottom: 50px;
}

.contents-item {
	writing-mode: vertical-rl;
	flex: auto;
	font-size: 20px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.item-image {
  position: relative;
}

.yajirushi {
  position: absolute;
  top: 150px;
  left: 150px;
}

@keyframes scroll_view {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.scroll_view {
  animation-name: scroll_view;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}



/* instagram */
.contents-instagram {
	background-color: #f7f7f7;
}

.instagram-title {
	float: right;
}

.instagram-item-main {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.instagram-item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instagram-item {
  flex: auto;
}


/* 店舗情報 */
.store-info {
  width: 70%;
  display: block;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  height: 192px;
}

.store-text {
  float: left;
  display: inline-block;
	font-size: 16px;
  text-align: left;
}

.store-pic {
  margin: 0 auto;
  float: right;
}

.map-pic {
	margin: 0 auto;
  padding-top: 80px;
  display: inline-block;
}


/* お知らせ */
.contents-news-img {
  padding: 0px 10px 0px 10px;
}

.news-img-right {
  float: right;
  padding-right: 20px;
}

.news-top {
	border-top: 2px solid #dee7ec;
	padding-top: 15px;
}

.news-list {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 54px;
  display: block;
}

.contents-news {
  text-align: left;
	border-bottom: 2px solid #dee7ec;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
}

.btn {
  width: 70%;
	display: block;
	border: 0.5px solid #dee7ec;
	text-align: center;
	opacity: 0.8;
	width: 249px;
  height: 42px;
	padding: 10px;
	font-size: 18px;
  margin: 0 auto;
}

.btn:hover {
	opacity: 1;
}

.contents-header {
  height: 140px;
  padding-top: 44px;
  padding-bottom: 8px;
  text-align: center;
}

/* 商品詳細 */
.contents-itemdetail {
  width: 90%;
  margin: 0 auto;
}
.item-pic {
  display: block;
  width: 70%;
  padding: 15px;
  margin: 0 auto;
}
.contents-itemtext {
  display: block;
  width: 60%;
	padding: 15px;
  text-align: left;
  margin: 0 auto;
  font-size: 20px;
}

.page-link {
  width: 70%;
  margin: 0 auto;
}

.page-next {
  padding: 25px 50px;
  background-image: url(../img/yajirusi_right.png);
  background-repeat: no-repeat;
	float: right;
  background-position: 110px 12px;
}

.page-prev {
  padding: 25px 50px;
  background-image: url(../img/yajirusi_left.png);
  background-repeat: no-repeat;
  background-position: 0px 12px;
	float: left;
}

/* ページャー */
.pager .pagination {
   text-align: right;
   padding-top: 50px;
   padding-bottom: 100px;
}

.pager .pagination li {
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 10px;
  text-align: center;
  position: relative;
}

.pager .pagination li.pre,
.pager .pagination li.next{
  display: inline-block;
  width: 20px;
  text-align: center;
}


/* お知らせ詳細 */
.contents-newsdetaill {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}

.contents-newstext-title {
	text-align: left;
	padding-bottom: 15px;
	width: 70%;
	margin: 0 auto;
	padding: 15px;
}

.contents-newstext {
	width: 70%;
	padding: 36px 10px;
	text-align: left;
	border-top: 2px solid #dee7ec;
	border-bottom: 2px solid #dee7ec;
	margin: 0 auto;
	margin-bottom: 60px;
}

.title-text {
  display: block;
}

.news-text {
  display: block;
  float: right;
}


/* フッター */
footer {
	background-color: gray;
	color: white;
	text-align: center;
  margin: 0 auto;
}

.footer-main {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.page-top-btn {
  display: block;
	float: right;
	margin-top: 100px;
	margin-right: 50px;
  font-size: 14px;
}

.footer-title {
  font-size: 20px;
  padding-top: 20px;
}

.footer-sns ul {
	padding-top: 14px;
  margin: 0 auto;
}

.footer-sns li {
	padding-right: 2.5px;
  padding-left: 2.5px;
  display: inline-block;
}

.footer-list ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-list li {
  font-size: 16px;
	padding-right: 20px;
  padding-left: 20px;
	display: inline-block;
}

.copyright {
	font-size: 10px;
  padding-bottom: 8px;
}
.cb {
	clear: both;
}

/* タブレット向けレイアウト */
@media(max-width: 1000px){
  .instagram-item-list {
    flex-wrap: wrap;
  }
	.instagram-item {
		width: 50%;
	}
	.contents-item {
		width: 50%;
	}
	.btn {
		width: 100%;
	}
	.about-text {
		writing-mode: horizontal-tb;
		width: 100%;
		height: 500px;
	}
	.news-list {
		width: 100%;
	}
}


/* スマートフォン向けレイアウト */
@media(max-width: 670px){
  .container {
    width: 100%;
  }
  .contents-header img{
    float: left;
  }
  .contents-header {
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  .container-sub {
    width: 100%;
    margin: 0 auto;
  }
  .news-top {
    width: 100%;
  }
  .item-pic img{
    width: 100%;
    height: auto;
  }
  .item-pic {
    width: 100%;
  }
  .instagram-item-list {
    flex-wrap: wrap;
  }
  .item-list {
    flex-direction: column;
  }
  .instagram-item {
    width: 50%;
  }
  .contents-item {
	  width:100%;
  }
  .btn {
	  width: 100%;
  }
  .about-text {
	  writing-mode: horizontal-tb;
	  width: 100%;
	  height: auto;
  }
  .news-list {
	  width: 100%;
  }
  .header-list {
  	display: none;
  }
  .container-right{
	  width: 100%;
  }
  .container-right img{
	  height: auto;
  }
  .header-title {
    padding-left: 10px;
  }
  .main-title {
    padding-left: 30px;
  }
  .header-sns {
    height: auto;
  }
  .container-left {
    width: 38%;
	  position: absolute;
	  top: 50%;
	  left: 50%;
    margin: 0 auto;
    z-index: 1;
	  -webkit-transform: translate(-100%, -50%);
	  transform: translate(-50%, -50%);
	  background-color: rgba(255,255,255,0.7);
  }
　.page-link {
    width: 100%;
  }
  .page-next {
    margin: 0px;
  }
  .page-prev {
    margin: 0px;
    float: left;
  }
  .instagram-title {
    float: none;
  }
  .store-info {
    float: none;
    height: auto;
  }
	.store-text {
    float: none;
    display: inline-block;
	}
  .store-pic {
    float: none;
    margin: 0 auto;
  }
	.store-pic img{
		width: 100%;
    height: auto;
	}
  .map-pic {
    width: 100%;
    float: none;
  }
  .map-pic img{
    width: 100%;
    height: auto;
  }
  .footer-list {
  	display: none;
  }
  .page-top-btn {
  	float: none;
    margin: 0px auto;
    padding-top: 20px;
    width: 100%;
  }
  .tatetitle {
    display: inline-block;
  	margin: 20px auto;
  	float: none;
  }
	.contents-newslist h2{
    display:block;
	}
  .pager .pagination li{
    display: none;
  }
  .contents-itemtext {
    width: 100%;
  }
  .pager .pagination li.pre,
  .pager .pagination li.next{
    display: inline-block;
    width: 20%;
    height: 50px;
    text-align: center;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a{
    width: 100%;
    text-align: center;
  }
  .sm-br {
    display: inherit;
  }
  footer {
    height: auto;
  }
  .map-pic {
    padding-top: 40px;
  }
  .container-right .slides {
    width: 100%;
  }

}

@media only screen and (max-width: 480px) {
    .container-right {
        overflow: scroll;
    }
    .container-left {
        width: 100%;
    }
}
